header {
    background-color: blue;
}
.banner {
    background-color: yellow;
}
#mainbanner {
    width: 50%;
}
body {
    background-color: lightblue;
}

#content {
    max-width: 1600px;
}
nav a {
 text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

