body {
    text-align: center;
}
nav {
    background-color: steelblue;
    padding: 10px;
  }
nav :hover {
    background-color: steelblue;
    color: black;
    cursor: pointer;
  }
a {
color: white;
margin: 40px;
text-decoration: none;
padding: 10px;
}
button:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
  }
ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  justify-content: center;
  margin: auto 135px;
  width: 140px;
}
.dropdown-content {
  background-color: burlywood;
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: burlywood;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
h1 {
color: steelblue;
}
img {
width: 800px;
border: 4px solid steelblue;
}
p {
padding: 10px;
}
footer {
background-color: steelblue;
color: white;
}